.go-button
	padding: 10px 15px
	color: #fff
	font-weight: $medium
	display: inline-block
	+font-size(15px)
	border: 3px solid $yellow
	text-transform: uppercase
	font-family: $sub-font

.go-button.blue
	color: $dark-blue
